.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid blue;
    border-radius: 6px;
    cursor: pointer;

    &.active {
        background-color: blue;
        color: white;
    }
}