.wrapper {
    padding: 40px;
    display: flex;
    gap: 30px;
}

.block {
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;

    &Titile {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
    }
}